<%- provide(:title, "Alarm") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Alarm</li>
</ol>
<div class="page-header">
  <h1>ボーダーアラーム機能β</h1>
</div>
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-6">
    <h3>サービス概要</h3>
    <p>現在のボーダー速報値が指定された値を越えたタイミングでミリオンボーダーbotからあなたにTwitterのメンションを飛ばします。</p>
    <%- unless current_user %>
      <%= link_to 'Twitterでログイン', '/auth/twitter', class: 'btn btn-lg btn-primary btn-block' %>
    <%- end %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div style='max-width: 320px;'>
      <blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr"><a href="https://twitter.com/mlborder">@mlborder</a>&#10;【ボーダーお知らせ：12/27 03:45更新】&#10;1200位のボーダーが5000000ptを超えました(現在:5001166pt)&#10;『アイドルスペースウォーズ EpisodeIV』</p>&mdash; ミリオンボーダーbot (@mlborder) <a href="https://twitter.com/mlborder/status/680821901988466689">2015, 12月 26</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
