<%- provide(:title, "Watch") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Watch</li>
</ol>
<div class="page-header">
  <h1>ボーダーアラーム機能β</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h3>サービス概要</h3>
      <p>現在のボーダー速報値が指定された値を越えたタイミングでミリオンボーダーbotからあなたにTwitterのメンションを飛ばします。</p>
      <%- unless current_user %>
        <%= link_to 'Twitterでログイン', '/auth/twitter', class: 'btn btn-lg btn-primary btn-block' %>
      <%- end %>
    </div>
  </div>
</div>
