- provide(:title, t('.title_x', x: @week.format_term))
ol.breadcrumb
  li = link_to t('controllers.root'), root_path
  li = t('controllers.weeks')
  li = @week.to_ymd
  li.active = t('controllers.idol_records')
.well.well-sm
  .row
    .col-lg-12.col-md-12.col-sm-12
      = form_tag week_idol_records_path(week_id: 'search'), method: 'GET', enforce_utf8: false do
        .input-group
          = select_tag :search_week_id, options_from_collection_for_select(@weeks, :id, :format_term, selected: @week.id), include_blank: true, class: 'text-right form-control'
          span.input-group-btn
            = submit_tag '確認する', class: 'btn btn-primary', name: nil
.page-header
  h1
    = t('.title_x', x: @week.format_term)
    = render partial: 'layouts/shared/twitter_button'
table.table.table-bordered.table-striped
  thead
    tr
      th
        | 順位
      th
        | アイドル名
      th
        | ファン人数/週
      th
        | プロデューサー数
      th
        | P一人あたりの平均獲得ファン人数/週
  tbody
    - @idol_records.each do |record|
      tr
        td
          = record.rank
        td
          span style="color: #{record.idol.color}"
            i.fa.fa-square
            | &nbsp;
          = link_to record.idol.name, week_player_records_path(idol_id: record.idol.id)
          | &nbsp;
          = link_to idol_path(record.idol) do
            i.fa.fa-question-circle
        td
          = number_with_delimiter record.fan_count
        td
          = number_with_delimiter record.player_count
        td
          = number_with_delimiter (record.fan_count.to_f / record.player_count.to_f).round
