<%- provide(:title, "アイドル一覧") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Idols</li>
</ol>

<%= render partial: 'list', locals: { idols: @idols } %>

<div class='well well-sm'>
  <%= render partial: 'layouts/shared/twitter_button' %>
</div>
