.page-header
  h1
    = player.name
    | さん
    small
      = link_to "http://imas.gree-apps.net/app/index.php/mypage/user_profile/id/#{player.id}", target: '_blank' do
        span.glyphicon.glyphicon-new-window
    |  のイベント最終ランキング履歴 
    = render partial: 'layouts/shared/twitter_button'
.row[style="white-space: nowrap;"]
  - records.each do |record|
    - event = events.select { |ev| ev.id == record.event_id.to_i }.first
    - if event
      .col-lg-4.col-md-4.col-sm-6
        .panel.panel-default
          .panel-heading
            h3.panel-title[style="font-size: .9em;"]
              = event_type_badge(event)
              | &nbsp;
              = link_to event_path(event) do
                = event.try(:name)
                - if event.hhp_event?
                  |   (
                  = Idol.find(record.idol_id).name
                  | )
                  small
                    span.glyphicon.glyphicon-link
          .list-group
            .list-group-item
              span.glyphicon.glyphicon-calendar[aria-hidden="true"]
              |  
              = event&.format_period
            .list-group-item
              span.fa.fa-star[aria-hidden="true"]
              - if record.idol_id
                - idol = Idol.find(record.idol_id)
                span style="border-bottom: 1px ridge #{idol.color}"
                  = idol.name
              - else
                = prizes_text_for(event&.prizes&.to_a || [])
            .list-group-item
              span.fa.fa-trophy[aria-hidden="true"]
              |  個人 
              = record.rank
              |  位
              = link_to event_records_path(event, idol_id: record.idol_id) do
                small
                  span.glyphicon.glyphicon-link
            .list-group-item
              span.fa.fa-diamond[aria-hidden="true"]
              = number_with_delimiter record.point
              |  pt
