- if @player
  - provide(:title, t('.player_title', player: @player.name))
  = render partial: 'form', locals: { player: @player, events: @events }
  = render partial: 'player_records', locals: { player: @player, records: @records, events: @events }
- else
  - provide(:title, t('.title'))
  ol.breadcrumb
    li = link_to t('controllers.root'), root_path
    li.active = t('controllers.records')
  .page-header
    h2 = t('.title')
  p
    = t('.description_html')
    = render partial: 'layouts/shared/twitter_button'
  = render partial: 'form', locals: { event: nil, player: nil, events: @events }
