= form_for event, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :id, class: 'col-sm-2 control-label'
    .col-sm-10
      p#event_id.form-control-static
        = event.try(:id)
  .form-group
    = f.label :event_type, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :event_type, Event.event_types.keys.map{ |name| [t("event_type.#{name.sub('_event', '')}"), name] }, {}, class: 'form-control'
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :prizes, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.fields_for :prizes do |prizes_form|
        = render partial: 'prize_fields', locals: { f: prizes_form }
        = link_to_add_fields "追加", f, :prizes, class: 'add_fields btn btn-info btn-block'
  .form-group
    = f.label :started_at, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :started_at, class: 'form-control', placeholder: '2016-01-01 12:00:00 +0900'
  .form-group
    = f.label :ended_at, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :ended_at, class: 'form-control', placeholder: '2016-12-31 23:59:59 +0900'
  - unless event.new_record?
    .form-group
      = f.label :series_name, class: 'col-sm-2 control-label'
      .col-sm-10
        .form-inline
          .input-group
            = f.text_field :series_name, class: 'form-control', id: 'series_name'
            span.input-group-btn
              button#default_series_button.btn.btn-default[type="button"]
                | Default
          button#recent_border.btn.btn-primary[type="button"]
            | Recent
    .form-group
      .col-sm-2
      .col-sm-10
        = f.label :records_available, style: 'font-weight: normal;' do
          = f.check_box :records_available
          |  最終ランキング情報あり
  .row
    .col-sm-2
    .col-sm-10
      = f.submit 'Submit', class: 'btn btn-primary btn-block'
