<div class="input-group">
  <%= f.hidden_field :_destroy %>
  <%= f.select :idol_id, options_from_collection_for_select(Idol.all, :id, :name, f.object.idol_id), { include_blank: true }, class: 'form-control' %>
  <span class="input-group-btn">
    <%= link_to '削除', '#', class: "btn btn-danger remove_fields" %>
  </span>
</div>
