<%- provide(:title, "『#{@event.name}』の編集") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to @event.name, event_path(@event) %></li>
  <li class="active">Edit</li>
</ol>

<div class='panel panel-default'>
  <div class='panel-body'>
    <%= render partial: 'form', locals: { event: @event } %>
  </div>
</div>
