<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Events</li>
</ol>

<%= render partial: 'list', locals: { events: @events } %>

<div class='text-center'>
  <%= paginate @events %>
</div>
