<%- provide(:title, 'イベントの新規作成') %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li class="active">New</li>
</ol>

<div class='panel panel-default'>
  <div class='panel-body'>
    <%= render partial: 'form', locals: { event: @event } %>
  </div>
</div>
