<h1><%= @event.name %></h1>
<p>開催期間: <%= @event.started_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %> 〜 <%= @event.ended_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %></p>
<%- if @dataset.present? %>
  <%= am_charts @dataset %>
<%- else %>
  <p>ボーダー情報がありません。</p>
<%- end %>
