- event_title = @idol ? "#{@event.name}(#{@idol.name})" : @event.name
- provide(:title, t('.ranking_of_event', event: event_title))
ol.breadcrumb
  li = link_to t('controllers.root'), root_path
  li = link_to t('controllers.events'), events_path
  li = link_to @event.name, event_path(@event)
  li.active = t('.ranking')
.panel.panel-default
  .panel-heading
    h3.panel-title
      = event_type_badge(@event)
      | &nbsp;
      = t('.ranking_of_event', event: @event.name)
  ul.list-group
    li.list-group-item
      span.glyphicon.glyphicon-calendar[aria-hidden="true"]
      |  
      = @event.format_period
  .panel-body
    - unless @event.hhp_event?
      .btn-group.btn-group-justified[role="group"]
        = link_to "トップ", event_records_path(@event), class: 'btn btn-default'
        = link_to "301位〜", event_records_path(@event, page: 7), class: 'btn btn-default'
        = link_to "501位〜", event_records_path(@event, page: 11), class: 'btn btn-default'
        = link_to "1201位〜", event_records_path(@event, page: 25), class: 'btn btn-default'
      = render partial: 'pager', locals: { event: @event, idol: @idol, page: @page_num, has_next: @records.any? }
      = render partial: 'users', locals: { records: @records }
      = render partial: 'pager', locals: { event: @event, idol: @idol, page: @page_num, has_next: @records.any? }
