@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "events.scss";

footer.footer {
    border-top: 1px solid #ccc;
    padding-top: .5em;
    margin-top: 2em;
}

#navbar {
  .fa {
    display: inline-block;
    margin-right: 7px;
    text-align: center;
    width: 1em;
  }
}

// idol_records
.page-header {
  small {
    margin-left: 1em;
  }
  .row {
    margin-top: -20px;
  }
  .header-select {
    padding-top: 20px;
  }
}
