// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
}
.chart-wrapper {
  position: relative;
  width: 800px;
  height: 400px;
}
#chartdiv {
  height: 550px;
}
